@import url('https://fonts.googleapis.com/css?family=Lato')

// COLOR variables
$text-color: #37443b // dark grey
$bg-color: #fff
$theme-dark-color: #2e3e34 // dark grey
$theme-light-color: #67766f // light grey
$template-color: #e67414 // orange
$border-color: #ccc
$menu-text-color: #fff
$menu-bg-color: #212529
$dark-color: #000
$template-color: brown

// FONT variables
$basic-font: 'Lato', sans-serif
$base-font-size: 16px

// RWD
$pc: "max-width: 1199px"
$tablets: "max-width: 991px"
$phones: "max-width: 767px"
$small: "max-width: 575px"

// MIXINS
=translate($posX, $posY)
	-ms-transform:      translate($posX, $posY)
	-webkit-transform:  translate($posX, $posY)
	transform:          translate($posX, $posY)
=scale($x, $y)
	-ms-transform:      scale($x, $y)
	-webkit-transform:  scale($x, $y)
	transform:          scale($x, $y)
=transition($transition)
	-webkit-transition: $transition
	-moz-transition:    $transition
	transition:         $transition
=rotateX3D($radius)
	-webkit-transform: 	rotateX($radius)
	transform: 					rotateX($radius)
// EXTENDS
%w-h-100
  width: 100%
  height: 100%

// GLOBAL styles
*
	box-sizing: border-box
body
  position: relative
  margin: 0
  font-family: $basic-font
  color: $text-color
  background: $bg-color
  font-size: $base-font-size
  //overflow-x: initial /* or unset */

section
  padding: 100px 0
  border-bottom: 1px solid $border-color
header
  border-bottom: 1px solid $border-color
h1, h2, h3
  padding-top: 5px
  padding-bottom: 5px
h1, h2
  letter-spacing: 2px
  margin-bottom: 50px
h2
  padding-left: 10px
  border-left: 10px solid $text-color
  //padding-left: 35px
  //background-image: url("../images/logo_h48.png")
  //background-repeat: no-repeat
  //background-size: auto 32px
  //background-position: left center
#oferta
  h3
    padding-left: 10px
    border-left: 5px solid $text-color
// HEADER
.bg-kozuchy
  height: 120px
  background-image: url("../images/naglowek_h200px.jpg")
  background-size: auto 120px
  background-position: bottom
  padding-bottom: 20px !important
  +transition(.5s)
@media (min-width: 768px)
  .fixed-Menu
    height: 65px
@media (max-width: 767px)
  .bg-kozuchy
    height: 65px
    &.expanded-Menu
      height: 120px
#mainmenu-ScrollSpy
  .navbar-brand
    height: 0px
    width: 0px
  .navbar-toggler
    padding: 2px 8px
    color: darken($menu-text-color,30%)
    box-shadow: 0 0 5px darken($menu-text-color,50%)
    +transition(.4s)
    &:hover
      color: $menu-text-color
      box-shadow: 0 0 5px $menu-text-color
  .nav-item
    padding-left: 5px
    padding-right: 5px
  .nav-link
    color: $menu-text-color
    background: none
    &:hover
      box-shadow: 0 0 5px darken($menu-text-color,20%)
    &.active
      background: $menu-bg-color
#logo
  position: fixed
  z-index: 1040
  top: 0
  left: 20px
  img
    +transition(.6s)
    height: 200px
    width: auto
  &.fixed-Logo
    img
      height: 100px
@media (max-width: 767px)
  #logo
    img
      height: 100px
@media (max-width: 575px)
  #logo.expanded-Logo
    img
      height: 50px
.jumbotron
  height: 100vh
  .tlo
    background-size: cover
    background-position: center bottom
  .tlo-1
    background-image: url("../images/naglowek/bg01.jpg")
  .tlo-2
    background-image: url("../images/naglowek/bg02.jpg")
  .tlo-3
    background-image: url("../images/naglowek/bg03.jpg")
  .tlo-4
    background-image: url("../images/naglowek/bg04.jpg")
  .tlo-5
    background-image: url("../images/naglowek/bg05.jpg")
  .tlo-6
    background-image: url("../images/naglowek/bg06.jpg")
  .tlo-7
    background-image: url("../images/naglowek/bg07.jpg")
  .tlo-8
    background-image: url("../images/naglowek/bg08.jpg")
  .tlo-9
    background-image: url("../images/naglowek/bg09.jpg")
  .tlo-10
    background-image: url("../images/naglowek/bg10.jpg")
  .tlo-11
    background-image: url("../images/naglowek/bg11.jpg")
  .tlo-12
    background-image: url("../images/naglowek/bg12.jpg")
.slider-content
  @extend %w-h-100
  position: relative
  .slider-container
    position: relative
    top: 0
    @extend %w-h-100
  .carousel
    @extend %w-h-100
    .carousel-inner
      //z-index: 1000
      @extend %w-h-100
      .carousel-item
        @extend %w-h-100
        overflow: hidden
        img
          position: relative
          object-fit: cover
          min-width: 100%
          min-height: 100%
          top: 55%
          right: 0%
          +translate(0, -50%)
          object-position: 50% 50%
@media (max-width: 767px)
  .slider-container
    .carousel
      .carousel-inner
        .carousel-item
          img
            object-position: 70% 50%
@media (min-width: 768px) and (max-width: 991px)
  .slider-container
    .carousel
      .carousel-inner
        .carousel-item
          img
            object-position: 60% 50%

.slider-overlay
  z-index: 1000
  position: absolute
  top: 0
  left: 0
  @extend %w-h-100
  background: rgba(0,0,0,0.5)
  //background: rgba(0,0,0,0.5) black
  //background: rgba(111, 78, 55,0.5) coffee
  //background: rgba(92, 64, 51,0.5) dark brown
// START TEMP
#Bgk-Chooser
  background-color: rgba(0,0,0,0.7)
  color: white
  padding: 20px
  position: absolute
  left: 0
  bottom: 0
  z-index: 1050
  text-align: center
  .btn
    margin: 3px 2px
// KONIEC TEMP
.container.naglowek-Tekst
  z-index: 1000
  color: white // USTALIC NA PODSTAWIE WYBRANEGO TLA
  position: absolute
  top: 50%
  left: 50%
  +translate(-50%, -50%)
  text-shadow: 3px 3px 6px black
  .btn
    text-shadow: none
// USUNAC PO WYBRANIU TLA
.container.naglowek-Tekst.tempBlack
  color: black
  text-shadow: 3px 3px 6px grey
// KONIEC USUNIECIA
// OFERTA
#oferty-Filtr
  .opcja
    &:hover
      box-shadow: 3px 3px 8px rgba(black,.4)
.gallery-block.grid-gallery
  h3
    margin-bottom: 20px

.gallery-block.grid-gallery
  a
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    &:hover
      opacity: 0.8

.gallery-block.grid-gallery
  .item
    height: 350px
    width: 300px
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15)
    transition: 0.4s

@media (min-width: 576px)
  .gallery-block.grid-gallery
    .item
      &:hover
        transform: scale(1.05)
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5) !important

// KONTAKT
.kontakt-module
  p
    position: relative
    padding-left: 2em
  .kontakt-icon
    position: absolute
    left: 0
    top: calc(50% - 0.75em)

// FOOTER
#footer
  background-image: url("../images/naglowek_h200px_180deg.jpg")
  background-size: auto 120px
  background-position: top
  color: $bg-color
  .container
    padding-top: 10px !important

// TO-TOP
#totop
  width: 3em
  height: 3em
  position: fixed
  bottom: 25px
  right: 25px
  svg
    background-color: $bg-color
    color: $dark-color
    border-radius: 50%
    +transition(.4s)
  &:hover
    svg
      background-color: darken($bg-color,20%)
      box-shadow: 0 0 15px $bg-color

// COOKIEINFO
.cookieinfo
  a,
  .link
    color: #31A8F0 !important
    +transition(color .4s)
    &:hover
      cursor: pointer
      color: $template-color !important
  .cookieinfo-close
    color: #fff !important
    background: #28a745 !important
    &:hover
      background: darken(#28a745, 8%) !important
    &:focus,
    &:active
      outline: 0
      box-shadow: 0 0 0 0.2rem rgba(red(#28a745), green(#28a745), blue(#28a745), 0.5)

// ************************ RWD ************************